# Gradle
.gradle/
/build/
**/build/

# IDE
.idea/
*.iml

# Local configuration
local.properties

# Generated binaries
*.apk
*.aab
*.keystore
*.jks

# Raster images
*.png
*.webp

# OS files
.DS_Store
Thumbs.db
